---
import { GlowButton } from "@/components/atoms";
import "./styles.css";
---

<section class="hero__area">
	<div class="hero">
		<div class="hero__container">
			<h1
				class="hero__title text__heading--h4 text__heading--h3-md text__heading--h1-lg"
			>
				Tetrate App Gateway
			</h1>
			<p
				class="hero__subtitle text__body--16 text__body--16-md text__body--18-lg"
			>
				Autonomous ingress traffic orchestration across clouds,<br
					class="u-hidden u-hidden--md u-visible--lg"
				/> on-prem <br
					class="u-hidden u-hidden--lg u-visible--md"
				/>environments,<br class="u-hidden--md u-hidden--lg" /> Kubernetes clusters,
				and VMs.
			</p>
			<div class="hero_button">
				<a href="/contact/demo-request/">
					<GlowButton
						className="text__body--16-semibold"
						containerClassName="hero__button">Request a demo</GlowButton
					>
				</a>
			</div>
		</div>
	</div>
</section>
