---
import "./styles.css";
---

<section class="content-block">
    <div class="u-grid-bg u-grid-bg--top u-grid-bg--primary u-grid-bg--top-0">
    </div>
    <div
            class="u-grid-bg u-grid-bg--top-thin u-grid-bg--secondary u-grid-bg--top-0"
    >
    </div>
    <div class="u-grid-bg u-grid-bg--bottom u-grid-bg--primary"></div>
    <div class="u-grid-bg u-grid-bg--bottom-thin u-grid-bg--secondary"></div>

    <div class="content-block__grid">
        <div class="u-grid-bg u-grid-bg--left u-grid-bg--primary"></div>
        <div class="u-grid-bg u-grid-bg--left-thin u-grid-bg--secondary"></div>
        <div class="u-grid-bg u-grid-bg--right u-grid-bg--primary"></div>
        <div class="u-grid-bg u-grid-bg--right-thin u-grid-bg--secondary"></div>

        <div
                class="u-grid-bg-dot u-grid-bg-dot--large u-grid-bg-dot--top-left u-grid-bg--primary u-grid-bg--top-0"
        >
        </div>
        <div
                class="u-grid-bg-dot u-grid-bg-dot--small u-grid-bg-dot--top-left u-grid-bg--secondary u-grid-bg--top-0"
        >
        </div>

        <div
                class="u-grid-bg-dot u-grid-bg-dot--large u-grid-bg-dot--top-right u-grid-bg--primary u-grid-bg--top-0"
        >
        </div>
        <div
                class="u-grid-bg-dot u-grid-bg-dot--small u-grid-bg-dot--top-right u-grid-bg--secondary u-grid-bg--top-0"
        >
        </div>

        <div
                class="u-grid-bg-dot u-grid-bg-dot--large u-grid-bg-dot--bottom-left u-grid-bg--primary"
        >
        </div>
        <div
                class="u-grid-bg-dot u-grid-bg-dot--small u-grid-bg-dot--bottom-left u-grid-bg--secondary"
        >
        </div>

        <div
                class="u-grid-bg-dot u-grid-bg-dot--large u-grid-bg-dot--bottom-right u-grid-bg--primary"
        >
        </div>
        <div
                class="u-grid-bg-dot u-grid-bg-dot--small u-grid-bg-dot--bottom-right u-grid-bg--secondary"
        >
        </div>

        <div class="content-block-container">
            <slot />
        </div>
    </div>
</section>
