---
import "./styles.css";

import { GlowButton } from "@/components/atoms";
import { Title } from "@/components/atoms";
---

<section class="cta">
	<div
		class="u-grid-bg u-grid-bg--top u-grid-bg--primary u-grid-bg--top-40 u-grid-bg--top-80-lg"
	>
	</div>
	<div
		class="u-grid-bg u-grid-bg--top-thin u-grid-bg--secondary u-grid-bg--top-40 u-grid-bg--top-80-lg"
	>
	</div>

	<!--  CTA Pattern -->
	<picture>
		<img
			src="/images/cta-bg.svg"
			width="562"
			height="232"
			class="cta__bg--top-left u-hidden--md u-visible--lg"
			loading="lazy"
			alt="Decorative CTA background pattern"
		/>
	</picture>
	<picture>
		<img
			src="/images/cta-bg-tablet.svg"
			width="298"
			height="174"
			alt="background"
			class="cta__background--tablet u-hidden u-visible--md u-hidden--lg"
			loading="lazy"
		/>
	</picture>
	<picture>
		<img
			src="/images/cta-bg-right.svg"
			width="398"
			height="232"
			alt="background"
			class="cta__bg--bottom-right"
			loading="lazy"
		/>
	</picture>

	<div
		class="cta__bg--linear u-grid-bg--right u-grid-bg u-grid-bg--top-thin u-grid-bg--top-40 u-grid-bg--top-80-lg"
	>
	</div>
	<div
		class="cta__bg--linear u-grid-bg--left u-grid-bg u-grid-bg--top-thin u-grid-bg--top-40 u-grid-bg--top-80-lg"
	>
	</div>

	<div class="cta__section">
		<div class="cta__grid">
			<div class="u-grid-bg u-grid-bg--left u-grid-bg--primary"></div>
			<div class="u-grid-bg u-grid-bg--left-thin u-grid-bg--secondary"></div>

			<div class="u-grid-bg u-grid-bg--right u-grid-bg--primary"></div>
			<div class="u-grid-bg u-grid-bg--right-thin u-grid-bg--secondary"></div>

			<div
				class="u-grid-bg-dot u-grid-bg-dot--large u-grid-bg-dot--top-left u-grid-bg--primary u-grid-bg--top-40 u-grid-bg--top-80-lg"
			>
			</div>
			<div
				class="u-grid-bg-dot u-grid-bg-dot--small u-grid-bg-dot--top-left u-grid-bg--secondary u-grid-bg--top-40 u-grid-bg--top-80-lg"
			>
			</div>

			<div
				class="u-grid-bg-dot u-grid-bg-dot--large u-grid-bg-dot--top-right u-grid-bg--primary u-grid-bg--top-40 u-grid-bg--top-80-lg"
			>
			</div>
			<div
				class="u-grid-bg-dot u-grid-bg-dot--small u-grid-bg-dot--top-right u-grid-bg--secondary u-grid-bg--top-40 u-grid-bg--top-80-lg"
			>
			</div>

			<div class="cta__container">
				<picture>
					<source
						media="(min-width: 1440px)"
						srcset="/images/tetrate.png 1x, /images/tetrate@2x.png 2x"
						width="110"
						height="109"
					/>
					<img
						src="/images/tetrate-mobile.png"
						srcset="/images/tetrate-mobile.png 1x, /images/tetrate-mobile@2x.png 2x"
						alt="Tetrate logo in the CTA section"
						width="84"
						height="82"
						loading="lazy"
					/>
				</picture>

				<Title
					as="h2"
					className="text__heading--h5 text__heading--h4-md text__heading--h2-lg cta__title"
				>
					Ready to <span class="color-orange-500">enhance your network</span> with
					more intelligence?
				</Title>

				<div class="cta__buttons">
					<a href="/contact/demo-request/">
						<button class="btn btn--secondary text__body--16-semibold"
							>Request a demo</button
						>
					</a>
					<a href="/contact/pricing-request/">
						<GlowButton className="text__body--16-semibold"
							>Pricing Request</GlowButton
						>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
