/* ========== CTA Block ========== */
.cta {
	position: relative;
	width: 100%;
	padding: 0 10px;
	overflow: hidden;
}

.cta__grid {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	max-width: 1240px;
}

.cta__bg--linear {
	z-index: -1;
	width: 100%;
	background-image: url("/images/patterns/gray-line.png");
	background-size: 6px 12px;
	height: 100vh;
}

.cta__section {
	margin: auto;
	background: var(--color-gray-200);
	max-width: 1240px;
}

.cta__container-logo {
	display: block;
}

@media (width >= 320px) and (width <= 767px) {
	.cta__buttons button {
		padding: 9px 32px;
		font-size: 14px;
		margin-top: 0;
	}

	.cta-title-break {
		display: none;
	}
}

@media (width >= 768px) {
	.cta {
		padding: 0 20px;
	}
}

@media (width >= 1024px) {
	.cta {
		padding: 0 20px;
	}

	.cta__grid {
		padding: 20px;
	}
}

/* ========== CTA Container ========== */
.cta__container {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin: 0 auto;
	padding: 125px 0;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media (width >= 1024px) {
	.cta__container {
		gap: 45px;
		padding: 126px 0;
	}
}

/* ========== CTA Text ========== */
.cta--orange {
	color: var(--color-orange-500);
}

.cta__title {
	z-index: 2;
}

.cta__title-span {
	color: var(--color-orange-500);
}

/* ========== CTA Buttons ========== */
.cta__buttons {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* ========== CTA Patterns ========== */

.cta__bg--top-left {
	position: absolute;
	top: 27px;
	left: -120px;
	z-index: 1;
	width: 316px;
	height: auto;
}

.cta__bg--bottom-left {
	position: absolute;
	top: 476px;
	left: 0;
	z-index: 1;
	width: 158px;
	height: auto;
}

.cta__bg--bottom-right {
	position: absolute;
	right: -38px;
	bottom: 8px;
	z-index: 1;
	width: 223px;
	height: auto;
}

@media (width >= 768px) {
	.cta__buttons {
		flex-direction: row;
	}

	.cta__bg--top-left {
		top: 22px;
		left: 8px;
		width: 262px;
		transform: unset;
	}

	.cta__bg--bottom-left {
		top: 412px;
		left: 50%;
		width: 211px;
		transform: translateX(calc(-100% - 169px));
	}

	.cta__bg--bottom-right {
		top: 395px;
		left: calc(100vw - 230px);
		width: 211px;
	}

	.cta__text br {
		display: block;
	}

	.cta__container {
		gap: 36px;
		padding: 107px 0 124px;
	}
}

@media (width >= 1024px) {
	.cta {
		position: relative;
		width: 100%;
		padding: 0 20px;
		overflow: hidden;
	}

	.cta__container {
		z-index: 2;
		gap: 45px;
		padding: 125px 0;
	}

	.cta__bg--top-left {
		top: 47px;
		left: 10px;
		width: 462px;
	}

	.cta__bg--bottom-left {
		top: 498px;
		left: 50%;
		transform: translateX(calc(-100% - 364px));
	}

	.cta__bg--bottom-right {
		top: 437px;
		left: calc(100vw - 350px);
		width: 327px;
	}
}

@media (width >= 1280px) {
	.cta__bg--top-left {
		top: 47px;
		left: 50%;
		width: 462px;
		transform: translateX(calc(-100% - 170px));
	}

	.cta__bg--bottom-right {
		top: 437px;
		left: 50%;
		width: 327px;
		transform: translateX(calc(-100% + 630px));
	}
}

@media (width >= 1380px) {
	.cta__bg--top-left {
		top: 58px;
		left: 50%;
		width: 562px;
		transform: translate(calc(-100% - 120px));
	}

	.cta__bg--bottom-right {
		top: 397px;
		left: 50%;
		width: 397px;
		transform: translateX(calc(-100% + 680px));
	}
}
