@import url("./typography.css");
@import url("./font.css");
@import url("./color.css");
@import url("./utility.css");
@import url("./button.css");

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	display: flex;
	width: 100%;
	margin: 0;
	flex-flow: column;
}

html {
	box-sizing: border-box;
	scrollbar-gutter: stable;
	scrollbar-width: thin;
}

body {
	color: var(--color-black);
	background-color: var(--color-gray-200);
	font-family: Poppins, sans-serif;
}

button {
	border: none;
	background-color: transparent;
	font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:focus,
a:visited {
	color: inherit;
}
