/* ========== Enterprise Support Section Block ========== */

.enterprise-support-section {
	color: var(--color-white);
	width: 100%;
	min-height: 470px;
}

.enterprise-support-section__container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	margin: 0 auto;
	padding: 60px 20px 80px 20px;
}

@media (width >= 768px) {
	.enterprise-support-section .enterprise-support-section__container {
		padding: 60px 120px 80px 120px;
		gap: 60px;
	}
}

@media (width >= 1024px) {
	.enterprise-support-section .enterprise-support-section__container {
		max-width: 1240px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.enterprise-support-section__cards {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 60px;
	position: relative;
}

.enterprise-support-section-dashes {
	position: absolute;
	z-index: 1;
	width: 100%;
	background-size: 6px 12px;
	top: 16px;
	display: none;
}

.enterprise-support-section__card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
}

.enterprise-support-section__image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
}

.enterprise-support-section__card-title {
	line-height: 27.36px;
}

.enterprise-support-section__card:nth-child(3)
	> .enterprise-support-section__card-description {
	width: 288px;
}

.enterprise-support-section__card-description {
	color: var(--color-gray-200);
	max-width: 350px;
}

@media (width >= 1440px) {
	.enterprise-support-section__card:nth-child(3)
		> .enterprise-support-section__card-description {
		width: 342px;
	}

	.enterprise-support-section-dashes {
		display: initial;
	}

	.enterprise-support-section .enterprise-support-section__heading {
		width: 612px;
		margin: 0 auto;
	}

	.enterprise-support-section .enterprise-support-section__cards {
		flex-direction: row;
		align-items: start;
		gap: 30px;
	}

	.enterprise-support-section .enterprise-support-section__card {
		width: 380px;
	}
}
